# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
*.iml

# Windows builds
*.exe
*.dll
*.pdb

# Logs
*.log

# Others
.flutter-plugins
.flutter-plugins-dependencies
.melpa/
